body {

    margin:0;

    background-image:url("fond.jpg");

    background-size:cover;

    background-position:center;

    height:100vh;

    font-family:Arial;

}


/* Bureau */

.bureau {

    display:flex;

    flex-direction:column;

}



/* Icônes */

.icone {

    width:100px;

    text-align:center;

    color:white;

    margin:20px;

    cursor:pointer;

}



.icone img {

    width:60px;

    height:60px;

}



/* Fenêtre de code */

.fenetreCode {

    display:none;

    position:absolute;

    top:200px;

    left:300px;

    background:white;

    color:black;

    padding:30px;

    border:2px solid black;

}



/* Fenêtre des dossiers */

.fenetre {

    width:600px;

    margin:100px auto;

    background:#eeeeee;

    color:black;

    border:3px solid black;

}



/* Barre du haut */

.barre {

    background:#222;

    color:white;

    padding:10px;

    font-weight:bold;

}



/* Contenu du fichier */

.contenu {

    padding:20px;

}
