body {

    margin:0;
    background:black;
    color:white;
    font-family:Arial;

}


.bureau {

    display:flex;
    flex-direction:column;
}


.icone {

    width:100px;
    text-align:center;
    color:white;
    margin:20px;
    cursor:pointer;

}


.icone img {

    width:60px;
    height:60px;

}


.fenetreCode {

    display:none;
    position:absolute;
    top:200px;
    left:300px;
    background:white;
    color:black;
    padding:30px;
    border:2px solid black;

}
